## MAC OS
.DS_Store

# Output from running any commands
*.csv

# In case you save a spreadsheet
*.xls
*.ods

# Hide temporary versions of files from git
*[0-9].awk
*[0-9].command
*[0-9].md
*[0-9].sh
*[0-9].txt

# Local backups
*.bak

# Archive, non-DMM downloaded raw data used for examination and comaprison, tests
/archive/
/native_downloads/
/test/
